.Page4Body{
    background-color: rgb(193, 188, 197);
    // height: 80vh;
    min-height: 90vh;
    padding: 2rem;
    margin-bottom: 4rem;
}
.InputPage{
    margin-bottom: 2rem !important;
    button {
        margin-left: 3rem;
    }
}